@charset "UTF-8";
body {
  font-family: Arial, Helvetica, sans-serif;
  color: #666;
  width: 100%;
  height: 100%; }

a {
  color: #666;
  text-decoration: none; }
  a:hover {
    color: #000;
    text-decoration: none; }
  a:active {
    color: #000;
    text-decoration: none; }
  a:focus {
    color: #000;
    text-decoration: none; }

.head {
  position: relative;
  display: block;
  padding: 5px 20px;
  text-align: left;
  border-bottom: 2px #2cb0b4 solid; }

.allcont, .headcont {
  position: relative;
  text-align: center;
  min-width: 50px;
  max-width: 640px;
  min-height: 410px;
  left: 0;
  right: 0;
  margin: auto;
  padding: 25px 0 0 0; }

.headcont {
  min-height: 0;
  padding: 0; }

.content {
  padding: 5px 20px; }

.head_tit {
  display: block;
  width: 100%;
  text-align: center;
  font-size: 18px;
  padding: 8px;
  color: #8d6f4b; }

.logo {
  position: absolute;
  bottom: 2px;
  left: 3%; }

.formscont {
  background-color: #eff4f7;
  padding: 5px; }

.form1 {
  border-radius: 0; }

.bottom1 {
  display: block;
  color: #665036;
  border-radius: 0;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 1, 0.15);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 1, 0.15);
  box-shadow: 0 1px 2px rgba(0, 0, 1, 0.15);
  border: solid 1px #1b9498;
  background-image: -webkit-linear-gradient(bottom, #2cb0b4, #3bc3c7);
  background-image: -moz-linear-gradient(bottom, #2cb0b4, #3bc3c7);
  background-image: -o-linear-gradient(bottom, #2cb0b4, #3bc3c7);
  background-image: -ms-linear-gradient(bottom, #2cb0b4, #3bc3c7);
  background-image: linear-gradient(to top, #2cb0b4, #3bc3c7); }

.bottom2 {
  display: block;
  color: #717881;
  border-radius: 0;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 1, 0.15);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 1, 0.15);
  box-shadow: 0 1px 2px rgba(0, 0, 1, 0.15);
  border: solid 1px #9eb9c2;
  background-image: -webkit-linear-gradient(bottom, #cee5ef, #ecf5f8);
  background-image: -moz-linear-gradient(bottom, #cee5ef, #ecf5f8);
  background-image: -o-linear-gradient(bottom, #cee5ef, #ecf5f8);
  background-image: -ms-linear-gradient(bottom, #cee5ef, #ecf5f8);
  background-image: linear-gradient(to top, #cee5ef, #ecf5f8); }

.text1 {
  font-size: 18px;
  color: #8d6f4b; }

.foot1 {
  position: fixed;
  bottom: 45px;
  left: 0;
  right: 0;
  margin: auto;
  width: 100%;
  max-width: 640px; }

.icons {
  display: table;
  width: 98%; }
  .icons ul {
    display: table-row; }
  .icons li {
    position: relative;
    display: table-cell;
    text-align: center; }

.icons1, .ic_calendar, .ic_vcard2, .ic_watch, .ic_dollar {
  display: inline-block;
  width: 73px;
  height: 50px;
  text-align: center;
  line-height: 13px;
  font-size: 12px;
  background-repeat: no-repeat;
  background-position: center;
  padding: 60px 0 0 0; }

.ic_calendar {
  background-image: url(img/ic_calendar.png); }
  .ic_calendar:focus .modal_rectangle {
    display: block; }
  .ic_calendar:focus ~ .p_ic_calendar {
    display: block; }

.ic_vcard2 {
  background-image: url(img/ic_vcard2.png); }
  .ic_vcard2:focus .modal_rectangle {
    display: block; }
  .ic_vcard2:focus ~ .p_ic_vcard2 {
    display: block; }

.ic_watch {
  background-image: url(img/ic_watch.png); }
  .ic_watch:focus .modal_rectangle {
    display: block; }
  .ic_watch:focus ~ .p_ic_watch {
    display: block; }

.ic_dollar {
  background-image: url(img/ic_dollar.png); }
  .ic_dollar:focus .modal_rectangle {
    display: block; }
  .ic_dollar:focus ~ .p_ic_dollar {
    display: block; }

.p_icons, .p_ic_calendar, .p_ic_vcard2, .p_ic_watch, .p_ic_dollar {
  position: absolute;
  width: 244px;
  background-color: #2cb0b4;
  padding: 5px 10px;
  color: #fff;
  bottom: 85px;
  text-align: left; }

.modal_rectangle {
  display: none;
  position: absolute;
  top: -8px;
  left: 0;
  right: 0;
  margin: auto;
  width: 14px;
  height: 16px;
  background: url(img/modal_rectangle.png) no-repeat; }

.p_ic_calendar {
  left: 27%;
  display: none; }

.p_ic_vcard2 {
  left: -45%;
  display: none; }

.p_ic_watch {
  right: -40%;
  display: none; }

.p_ic_dollar {
  right: 4%;
  display: none; }

/* menu */
.menu {
  background-color: #1D1F20;
  color: #fff;
  padding: 15px; }
  .menu a {
    color: #fff; }

.panel-header {
  position: absolute;
  top: 0;
  width: 100%;
  background-color: aquamarine;
  height: 100px; }

.btn-hamburger {
  position: absolute;
  right: 0;
  top: 0;
  border: none;
  outline: none;
  background: url("img/menu.png") no-repeat center;
  width: 50px;
  height: 50px; }

.slideout-menu {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 0;
  width: 256px;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  display: none; }

.slideout-panel {
  position: relative;
  z-index: 1;
  will-change: transform; }

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
  overflow: hidden; }

.slideout-open .slideout-menu {
  display: block; }

/* /menu */
/* ╨б╨┐╨╕╤Б╨╛╨║ ╨║╨╗╨╕╨╡╨╜╤В╨╛╨▓ */
.table1 {
  display: table;
  width: 100%;
  border-collapse: collapse; }
  .table1 ul {
    display: table-row; }
  .table1 li {
    display: table-cell;
    padding: 5px;
    border: 1px #c4c4c4 solid; }

.table1_fio {
  font-size: 14px;
  text-align: left;
  color: #666;
  line-height: 17px; }

.table1_tel {
  font-size: 12px;
  text-align: left;
  color: #666;
  margin: 3px 0 3px 0; }

.table1_date {
  font-size: 10px;
  text-align: left;
  color: #212122; }

.vertical_align_top {
  vertical-align: top; }

/* /╨б╨┐╨╕╤Б╨╛╨║ ╨║╨╗╨╕╨╡╨╜╤В╨╛╨▓ */
@media (max-height: 455px) {
  .foot1 {
    position: absolute; } }

/*# sourceMappingURL=style.css.map */
