body {
  font-family: Arial, Helvetica, sans-serif;
  color: #666;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0; }

a {
  color: #666;
  text-decoration: none;
  border-style: none; }
  a:hover {
    color: #000;
    text-decoration: none; }
  a:active {
    color: #000;
    text-decoration: none; }
  a:focus {
    color: #000;
    text-decoration: none; }

.head {
  position: relative;
  display: block;
  padding: 5px 20px;
  text-align: left;
  border-bottom: 2px #2cb0b4 solid; }

.allcont, .headcont {
  position: relative;
  text-align: center;
  min-width: 50px;
  max-width: 640px;
  min-height: 410px;
  left: 0;
  right: 0;
  margin: auto;
  padding: 25px 0 0 0; }

.headcont {
  min-height: 0;
  padding: 0; }

.content {
  padding: 5px 10px; }

.head_tit {
  display: block;
  width: 100%;
  text-align: center;
  font-size: 18px;
  padding: 8px;
  color: #8d6f4b; }

h2 {
  text-align: center;
  font-size: 18px;
  color: #8d6f4b; }

.logo {
  position: absolute;
  bottom: 2px;
  left: 0; }

.formscont {
  background-color: #eff4f7;
  padding: 5px; }

.form1 {
  border-radius: 0; }

.bottom1 {
  display: inline-block;
  padding: 10px 50px;
  color: #665036;
  border-radius: 0;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 1, 0.15);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 1, 0.15);
  box-shadow: 0 1px 2px rgba(0, 0, 1, 0.15);
  border: solid 1px #1b9498;
  background-image: -webkit-linear-gradient(bottom, #2cb0b4, #3bc3c7);
  background-image: -moz-linear-gradient(bottom, #2cb0b4, #3bc3c7);
  background-image: -o-linear-gradient(bottom, #2cb0b4, #3bc3c7);
  background-image: -ms-linear-gradient(bottom, #2cb0b4, #3bc3c7);
  background-image: linear-gradient(to top, #2cb0b4, #3bc3c7); }

.bottom2 {
  display: inline-block;
  padding: 10px 20px;
  color: #717881;
  border-radius: 0;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 1, 0.15);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 1, 0.15);
  box-shadow: 0 1px 2px rgba(0, 0, 1, 0.15);
  border: solid 1px #9eb9c2;
  background-image: -webkit-linear-gradient(bottom, #cee5ef, #ecf5f8);
  background-image: -moz-linear-gradient(bottom, #cee5ef, #ecf5f8);
  background-image: -o-linear-gradient(bottom, #cee5ef, #ecf5f8);
  background-image: -ms-linear-gradient(bottom, #cee5ef, #ecf5f8);
  background-image: linear-gradient(to top, #cee5ef, #ecf5f8); }

.text1 {
  font-size: 18px;
  color: #8d6f4b; }

.text2 {
  font-size: 14px;
  color: #666; }

.foot1 {
  position: fixed;
  bottom: 45px;
  left: 0;
  right: 0;
  margin: auto;
  width: 100%;
  max-width: 640px; }

.icons {
  display: table;
  width: 98%; }
  .icons ul {
    display: table-row; }
  .icons li {
    position: relative;
    display: table-cell;
    text-align: center; }

.icons1, .ic_calendar, .ic_vcard2, .ic_watch, .ic_dollar {
  display: inline-block;
  width: 73px;
  height: 50px;
  text-align: center;
  line-height: 13px;
  font-size: 12px;
  background-repeat: no-repeat;
  background-position: center;
  padding: 60px 0 0 0; }

.ic_calendar {
  background-image: url(img/ic_calendar.png); }
  .ic_calendar:focus .modal_rectangle {
    display: block; }
  .ic_calendar:focus ~ .p_ic_calendar {
    display: block; }

.ic_vcard2 {
  background-image: url(img/ic_vcard2.png); }
  .ic_vcard2:focus .modal_rectangle {
    display: block; }
  .ic_vcard2:focus ~ .p_ic_vcard2 {
    display: block; }

.ic_watch {
  background-image: url(img/ic_watch.png); }
  .ic_watch:focus .modal_rectangle {
    display: block; }
  .ic_watch:focus ~ .p_ic_watch {
    display: block; }

.ic_dollar {
  background-image: url(img/ic_dollar.png); }
  .ic_dollar:focus .modal_rectangle {
    display: block; }
  .ic_dollar:focus ~ .p_ic_dollar {
    display: block; }

.p_icons, .p_ic_calendar, .p_ic_vcard2, .p_ic_watch, .p_ic_dollar {
  position: absolute;
  width: 244px;
  background-color: #2cb0b4;
  padding: 5px 10px;
  color: #fff;
  bottom: 85px;
  text-align: left; }

.modal_rectangle {
  display: none;
  position: absolute;
  top: -8px;
  left: 0;
  right: 0;
  margin: auto;
  width: 14px;
  height: 16px;
  background: url(img/modal_rectangle.png) no-repeat; }

.p_ic_calendar {
  left: 27%;
  display: none; }

.p_ic_vcard2 {
  left: -45%;
  display: none; }

.p_ic_watch {
  right: -40%;
  display: none; }

.p_ic_dollar {
  right: 4%;
  display: none; }

.marbot1 {
  margin-bottom: 10px; }

.link1 {
  font-size: 14px;
  font-weight: bold;
  text-decoration: underline;
  color: #8d6f4b; }

.unstyled::-webkit-inner-spin-button,
.unstyled::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none; }

.link2 {
  color: #2cb0b4; }

.calendar {
  background-color: #fff; }

.cal_head {
  display: table;
  width: 100%;
  background-color: #2cb0b4; }
  .cal_head ul {
    display: table-row; }
  .cal_head li {
    display: table-cell;
    vertical-align: middle; }

.cal_date {
  position: relative;
  left: 0;
  right: 0;
  margin: 5px auto 5px auto;
  width: 130px;
  text-align: left; }

.cal_date2 {
  position: absolute;
  right: 0;
  top: 0; }

.cal_day {
  font-size: 40px;
  color: #fff;
  line-height: 40px; }

.cal_week {
  font-size: 18px;
  color: #fff;
  line-height: 20px;
  margin-top: 2px; }

.cal_me {
  font-size: 12px;
  color: #665036; }

.cal_arrow {
  color: #fff;
  font-size: 40px;
  padding: 5px 12px;
  line-height: 20px; }

.cal_body {
  display: table;
  width: 100%;
  border-collapse: collapse;
  border-top: 2px #2cb0b4 solid; }
  .cal_body ul {
    display: table-row; }
  .cal_body li {
    display: table-cell;
    vertical-align: middle;
    border: 1px #c4c4c4 solid;
    width: 14%; }

.cal_body1 {
  color: #fff;
  font-size: 14px;
  background-color: #8d6f4b; }

.cal_body2 {
  font-size: 14px;
  color: #666666;
  position: relative; }
  .cal_body2 a {
    position: relative;
    display: block;
    width: 21px;
    height: 21px;
    left: 0;
    right: 0;
    margin: 2px auto; }

.cal_body3 {
  font-size: 10px;
  color: #010101;
  line-height: 9px;
  padding: 1px 0; }

.cal_active {
  background-color: #2cb0b4;
  border-radius: 50% / 50%; }

.date1 {
  font-size: 16px;
  color: #fff;
  background-color: #2cb0b4;
  padding: 7px; }

.table1 {
  display: table;
  width: 100%;
  border-collapse: collapse;
  background-color: #fff; }
  .table1 ul {
    display: table-row; }
  .table1 li {
    display: table-cell;
    padding: 5px;
    border: 1px #c4c4c4 solid; }

.table1_fio, .fio2 {
  font-size: 14px;
  text-align: left;
  color: #666;
  line-height: 17px; }

.fio2 {
  color: #bfbfbf; }

.table1_tel {
  font-size: 12px;
  text-align: left;
  color: #666;
  margin: 3px 0 3px 0; }

.table1_date {
  font-size: 10px;
  text-align: left;
  color: #212122; }

.vertical_align_top {
  vertical-align: top; }

.but, .but_del, .but_pause {
  display: block;
  width: 22px;
  height: 22px;
  background-repeat: no-repeat;
  left: 0;
  right: 0;
  margin: auto; }

.but_del {
  background-image: url(img/ic_del.png); }

.but_pause {
  background-image: url(img/ic_pause.png); }

.client_card {
  display: table;
  width: 100%; }
  .client_card ul {
    display: table-row; }
  .client_card li {
    display: table-cell;
    vertical-align: top;
    padding: 3px; }

.cc2 {
  display: table; }
  .cc2 ul {
    display: table-row; }
  .cc2 li {
    display: table-cell;
    text-align: top left;
    padding: 5px; }

.line1 {
  height: 1px;
  background-color: #c4c4c4; }

.table2, .table3 {
  display: table;
  width: 100%;
  font-size: 14px;
  border-collapse: collapse; }
  .table2 ul, .table3 ul {
    display: table-row; }
  .table2 li, .table3 li {
    display: table-cell;
    vertical-align: top;
    padding: 5px 8px 5px 8px;
    text-align: left;
    border: 1px #c4c4c4 solid; }

.table2_head {
  color: #fff;
  background-color: #8d6f4b; }

.table2_t1 {
  position: relative;
  font-size: 14px;
  color: #666; }

.ic_sapis {
  background: url(img/ic_zapis.png) left no-repeat;
  padding: 10px 28px;
  margin-left: 10px; }

.table3 li {
  border: 1px #fff solid; }

.table_stat {
  display: table;
  width: 100%; }
  .table_stat ul {
    display: table-row; }
  .table_stat li {
    display: table-cell; }

.table_cle {
  display: table; }
  .table_cle ul {
    display: table-row; }
  .table_cle li {
    display: table-cell;
    vertical-align: middle; }

.formstat {
  width: 98%; }

.ic_voskl {
  display: block;
  width: 19px;
  height: 19px;
  background: url(img/ic_voskl.png) no-repeat; }

#openfile {
  display: none; }

.table_zapis {
  display: table;
  border-collapse: collapse;
  width: 100%; }
  .table_zapis ul {
    display: table-row; }
  .table_zapis li {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    border: 1px #c4c4c4 solid;
    padding: 3px 3px;
    background-color: #fff; }

.chek_on, .chek_off {
  position: relative;
  display: block;
  width: 45px;
  height: 29px;
  border-radius: 30px;
  background-color: #2cb0b4;
  border: 1px #2cb0b4 solid; }
  .chek_on span, .chek_off span {
    position: absolute;
    display: block;
    width: 25px;
    height: 25px;
    background-color: #8d6f4b;
    border-radius: 50% / 50%;
    top: 0;
    bottom: 0;
    margin: auto;
    right: 1px;
    transition: all 0.2s ease 0s; }

.chek_off {
  background-color: #eff4f7;
  border-color: #8d6f4b; }
  .chek_off span {
    right: 17px;
    transition: all 0.2s ease 0s; }

.checkbox1 {
  display: none; }

.checkbox1[type="checkbox"]:checked ~ .chek_on, .checkbox1[type="checkbox"]:checked ~ .chek_off {
  background-color: #eff4f7;
  border-color: #8d6f4b; }
  .checkbox1[type="checkbox"]:checked ~ .chek_on span, .checkbox1[type="checkbox"]:checked ~ .chek_off span {
    right: 17px;
    transition: all 0.2s ease 0s; }

.checkbox1[type="checkbox"]:checked ~ .chek_off {
  background-color: #2cb0b4;
  border: 1px #2cb0b4 solid; }
  .checkbox1[type="checkbox"]:checked ~ .chek_off span {
    right: 1px;
    transition: all 0.2s ease 0s; }

/* menu */
.menu {
  background-color: #1D1F20;
  color: #fff;
  padding: 15px; }
  .menu a {
    color: #fff; }

.panel-header {
  position: absolute;
  top: 0;
  width: 100%;
  background-color: aquamarine;
  height: 100px; }

.btn-hamburger {
  position: absolute;
  right: 0;
  top: 0;
  border: none;
  outline: none;
  background: url("img/menu.png") no-repeat center;
  width: 50px;
  height: 50px; }

.slideout-menu {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 0;
  width: 256px;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  display: none; }

.slideout-panel {
  position: relative;
  z-index: 1;
  will-change: transform; }

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
  overflow: hidden; }

.slideout-open .slideout-menu {
  display: block; }

/* /menu */
@media (max-width: 600px) {
  .table_stat {
    display: table;
    width: 100%; }
    .table_stat ul {
      display: table-row; }
    .table_stat li {
      display: block; }

  .formstat {
    width: 100%; } }
@media (max-height: 455px) {
  .foot1 {
    position: absolute; } }

/*# sourceMappingURL=style.css.map */
